apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm-hello.fullname" . }}
  labels:
    app: {{ include "helm-hello.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "helm-hello.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "helm-hello.fullname" . }}
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
      volumes:
        - name: html
          configMap:
            name: {{ include "helm-hello.fullname" . }}-html
            items:
              - key: index.html
                path: index.html

