apiVersion: apps/v1
kind: Deployment
metadata:
  name: kustomize-hello
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: app
          args:
            - "-listen=:5678"
            - "-text=Hello from Kustomize PROD (3 replicas)"
